/*.container:hover {   		*kolor tla po najechaniu
background: white; 
} 
*/

html, body {
  font-family: 'Lobster', cursive;
}

body {
  margin: 0;
  background: url('../img/tlo.jpg');
}

.container {
  text-align: center;
  color: blue;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 10px;
  background: #d2a679;
}

#menu {
  color: #fff;
  top: 0;
  left: 0;  
  width: 100%;
  position: fixed;
  margin: 0px;
  padding: 0;
  background: yellow;
  border-radius: 0;
  height: 45px;
  box-shadow: 0px 10px 20px #f442a7; /*os x/os y/rozmycie/kolor*/
  /*#menu .left a - mozna stworzyc div class="left" w html*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  /*color: green;*/
}

h1 {
  color: #ffcfb9;
  font-size: 64px;
  font-family: 'Major Mano Display', monospace;
}

h3 {
  font-family: 'Major Mano Display', monospace;
  color: green;
}

#img-hitch {
  height: 75px;
  /*background: blue;*/
  /*margin-top: 15px;  */
}

#menu a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  background: pink;
  border-radius: 50px;
  display: inline-block;
  line-height: 35px; /*linie tla-wielkosc ramek*/
  width: 15%; /*rowne bloki*/
  margin: 10px 10px;
  padding: 0 20px;
}

#menu a:hover {
  color: green;
  background: #6d9eed;
  transition: color 0.6s ease-in-out;
}

#title {
  background: url('../img/gory.jpg') center;
  margin-top: 70px;
  /*padding: 0; */
  /*opacity: 0.5; */
}

.clear {
  clear: both;
}

.shade {
  margin: -20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
}

#title-hitch {
  width: 20%;
  float: left;
  margin-top: 22px;
}

#title-imgthumb {
  float: left;	
  margin-top: 25px;
  width: 20%;
  /*background: blue;*/
}

#title-h1 {
  float:left;
  width: 60%;
}

.witamy {
  color: #fbedb3;
}

#title h1 {
  margin-top: 0;
  margin-bottom: 2px;
}

#title h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

#content {
  height: 1000px;
}

#footer {
  background: #0f6d6d;
  color: white;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.dane-stopki {
  width: 70%;
  margin: auto; /*wysrodkowuje*/
}

.dane-stopki div {
  float: left;
  width: 33%;
}

#content :hover, #navigation :hover, #footer :hover { /*zmiana koloru po najechaniu*/
  color: rgb(233, 233, 14);
}

.sponso {       /*mozna to samo wkleic do head html miedzy tagami style - styl zagniezdzony*/
  height: 50px;
  width: 150px;
}
