/*.container:hover {   		*kolor tla po najechaniu
background: white; 
} 
*/

html, body {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  background: url('../img/tlo.jpg');
}

.container {
  text-align: center;
  color: green;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 10px;
  background: #ccc;
}

#menu {
  color: #fff;
  top: 0;
  left: 0;  
  width: 100%;
  position: fixed;
  margin: 0px;
  padding: 0;
  background: yellow;
  border-radius: 0;
  height: 45px;
  box-shadow: 0px 10px 20px #f442a7; /*os x/os y/rozmycie/kolor*/
  /*#menu .left a - mozna stworzyc div class="left" w html*/
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  /*color: green;*/
}

h1 {
  color: #ffcfb9;
  font-size: 64px;
  font-family: 'Major Mano Display', monospace;
}

h3 {
  font-family: 'Dancing Script', cursive;
  color: #281612;
  text-align: center;
}

#img-hitch {
  height: 75px;
  /*background: blue;*/
  /*margin-top: 15px;  */
}

#menu a {
  color: black;
  font-size: 20px;
  text-decoration: none;
  background: pink;
  border-radius: 50px;
  display: inline-block;
  line-height: 35px; /*linie tla-wielkosc ramek*/
  width: 15%; /*rowne bloki*/
  margin: 10px 10px;
  padding: 0 20px;
}

#menu a:hover {
  color: green;
  background: #6d9eed;
  transition: color 0.6s ease-in-out;
}

#title {
  background: url('../img/gory.jpg') center;
  margin-top: 70px;
  /*padding: 0; */
  /*opacity: 0.5; */
}

.clear {
  clear: both;
}

.shade {
  margin: -20px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
}

#title-hitch {
  width: 20%;
  float: left;
  margin-top: 22px;
}

#title-imgthumb {
  float: left;	
  margin-top: 25px;
  width: 20%;
  /*background: blue;*/
}

#title-h1 {
  float:left;
  width: 60%;
}

.witamy {
  color: #fbedb3;
}

#title h1 {
  margin-top: 0;
  margin-bottom: 2px;
}

#title h3 {
  margin-top: 2px;
  margin-bottom: 2px;
}

#content h3 {
  text-align: center;
}

#content2 h3 {
  text-align: center;
}

#content3 h3 {
  text-align: center;
}

#content {
  height: 1000px;
  text-align: left;
}

#content2 {
  min-height: 300px;
  text-align: left;
  width: 800px;
  margin: auto;
}

#content3 {
  height: 1000px;
  border: 20px solid;
  margin: auto;
  width: 1200px;
  text-align: left;
}

#footer {
  background: #0f6d6d;
  color: white;
  border-radius: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
}

.dane-stopki {
  width: 70%;
  margin: auto; /*wysrodkowuje*/
}

.dane-stopki div {
  float: left;
  width: 33%;
}

#content :hover, #footer :hover { /*zmiana koloru po najechaniu*/
  color: rgb(233, 233, 14);
}

#footer :hover {
  transition: color 3s ease-in-out;
}

.sponso {       /*mozna to samo wkleic do head html miedzy tagami style - styl zagniezdzony*/
  height: 50px;
  width: 150px;
  display: block;
  margin: 0 auto 3px auto;
  border: 3px solid #ccc;
}

.justify {
  text-align: justify;
}

.tabela {
  text-align: center;
  margin: auto;
  width: 30px;  
  height: 30px;
  padding: 40px;
  border-collapse: collapse;
}

.tabela img {
  height: 300px;
  width: 300px;
  margin: 20px;
  padding: 40px;
}

.projekt {
  text-align: center;
}

#form label {
  width: 30%;
  display: inline-block;
  size: 30px;
}

#form div {
  margin: 15px 0;
}
-----------------------------------
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.table {
  text-align: center;
}

.plans {
  margin: auto;
  border: none /*1px solid #ff0000; */
  border-collapse: collapse;
}

.plans tr {
  border-bottom: 1px solid #red;
}

.plans td {    /*; .plans th*/
  border: none; #ff0000;       /*1px solid /*lub dotted*/
  padding: 30px;
  /*border-collapse: collapse;  /*likwiduje odstepy miedzy komorkami*/
}

.center {
  text-align: center;
}

.ulubione {
  position: relative;
}

.dogalerii {
  color: #fff;
  background: #42dcf4;
  text-decoration: none;
  text-align: center;
  display: block;
  margin: 20px auto;
  padding: 20px 40px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px #aaa;
}

.dogalerii:hover {
  background: #38a4b5;
}

a:visited {
  color: grey;
}

input:focus {
  border: 1px solid #000000; 
  background: rgb(209, 216, 223);
}

#navigation a {
  display: inline-block;
  text-decoration: none;
  padding: 8px 26px;
}

#netykieta {
  text-decoration: none;
  display: inline-block;
  padding: 8px 26px;
}

a:hover {
  color: black;
  background-color: #ddd; 
}

.previous {
  float: left;
  color: white;
  background-color: #4CAF50;
}

.next {
  float: right;
  color: white;
  background-color: #4CAF50;
}

.page {
  border-radius: 50%;
}

.up {
  color: white;
  background-color: #4CAF50;
}
