/*.container:hover {   		*kolor tla po najechaniu
background: white; 
} 
*/

html, body {
  font-family: 'Lobster', cursive;
}

body {
  margin: 0;
  background: url('../img/tlo.jpg');
}

.container {
  text-align: center;
  color: blue;
  padding: 20px;
}

#menu {
  
}

#title {
  background: url('../img/gory.jpg') center;
  margin-top: 70px;
  /*padding: 0; */
  /*opacity: 0.5; */
}

.shade {
  
}

#title-img {
  
}

#title-h1 {
  
}

.witamy {
  
}
