/*.container:hover {   		*kolor tla po najechaniu
background: white; 
} 
*/

html, body {
  font-family: 'Lobster', cursive;
}

body {
  margin: 0;
  background: url('../img/tlo.jpg');
}

.container {
  text-align: center;
  color: blue;
  padding: 20px;
  margin: 20px 10px;
  border-radius: 10px;
  background: #d2a679;
}

#menu {
  color: #fff;
  top: 0;
  left: 0;  
  width: 100%;
  position: fixed;
  margin: 0px;
  padding: 0;
  background: yellow;
  border-radius: 0;
  height: 45px;
  box-shadow: 0px 10px 20px #f442a7; /*os x/os y/rozmycie/kolor*/
}

#img1id {
  height: 50px;
}

#menu a {
  
}

#title {
  background: url('../img/gory.jpg') center;
  margin-top: 70px;
  /*padding: 0; */
  /*opacity: 0.5; */
}

.shade {
  
}

#title-img {
  
}

#title-h1 {
  
}

.witamy {
  
}
