html, body {
  font-family: 'Lobster', cursive;
}

.container {
  
}

#menu {
  
}

#title {
  background: url('../img/gory.jpg') center;
  margin-top: 70px;
  /*padding: 0; */
  /*opacity: 0.5; */
}

.shade {
  
}

#title-img {
  
}

#title-h1 {
  
}

.witamy {
  
}
